*{
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
    line-height: 15px;
    background-color: lightslategray;
}

.all{
    padding: auto;
}

h2{
    color: wheat;
    font-size: 30px;
}

#mess{
    color: lightskyblue;
    line-height: 10px;
}

#img{
    border: 20px white solid;
    width: 480px;
    height: 320px;
}

#link{
    color: lightskyblue;
    font-size: 25px;
}